.game-container,
.budgeting-app {
   text-align: center;
   margin-top: 50px;
}

.game-container img,
.budgeting-app img {
   width: 100%;
   max-width: 500px;
}

.game-container h2,
.budgeting-app h2 {
   font-size: 30px;
   font-family: 'Playfair Display', serif;
}

.game-container p,
.budgeting-app p {
   font-family: 'Eagle Lake', cursive;
   font-size: 18px;
   margin-bottom: 30px;
}
