

<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Meta tags for character set and viewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">

  <!-- Title of the webpage -->
  <title>Roamie - Blogs</title>


  <!-- Link to external CSS file -->
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="stylesheet" type="text/css" href="post.css">

  <!-- Bootstrap CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet" />
  <!-- Fonts for heading and body -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Eagle+Lake&display=swap" rel="stylesheet">

  <!-- Font Awesome Kit -->
  <script src="https://kit.fontawesome.com/c820918012.js" crossorigin="anonymous"></script>


</head>

<body>
  <nav>
    <!-- Logo image -->
    <img src="logo.gif" class="logo" alt="Logo" title="Roamie">

    <!-- Navigation links -->
    <ul class="navbar">
      <li><a href="index.html">Home</a></li>
      <li><a href="aboutus.html">About Us</a></li>
      <li class="submenu-parent">
        <a href="explore.html">Explore </a><i class="fas fa-caret-down"></i>
        <!-- Submenu for Explore -->
        <ul class="submenu">
          <li><a href="packages.html">Packages</a></li>
	  <li><a href="quiz.html">Quiz</a></li>
        </ul>
      </li>
      <li><a href="blog.html">Blog</a></li>
      <li class="submenu-parent">
        <a href="contact.html">Contact Us</a><i class="fas fa-caret-down"></i>
        <ul class="submenu">
          <li><a href="FAQ.html">FAQ</a></li>
        </ul>
      </li>
      <li><a href="login.php">
          <span>Login</span>
          <i class="fa fa-user" aria-hidden="true"></i>
        </a></li>
      <li><a href="logout.php">
          <span>Logout</span>
          <i class="fa fa-user" aria-hidden="true"></i>
        </a></li>
    </ul>
  </nav>


  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Blog Post Content Column -->
      <div class="col-lg-12">

        <!-- Title -->
        <h1 class="post-title">Trip to Marbella</h1>

        <!-- Author -->
        <p class="lead">
          Kemi Rachel
        </p>

        <hr>

        <!-- Date/Time -->
        <p><span class="glyphicon glyphicon-time"></span> Posted on August 27, 2023</p>

        <hr>
      

        <!-- Post Content -->
        <p>Welcome to Marbella, a jewel nestled on the picturesque Costa del Sol in southern Spain. With its sun-kissed beaches, 
		glamorous nightlife, and rich cultural heritage, Marbella offers a perfect blend of relaxation and excitement for every traveler. 
		Join us as we take a virtual journey through the vibrant streets, sandy shores, and historic landmarks of this Mediterranean paradise.
        </p>
        <p>Our adventure begins in Marbella's Old Town, a charming labyrinth of narrow streets adorned with vibrant flowers, whitewashed buildings, and inviting cafes. 
		As you stroll through the cobblestone alleys, you'll discover hidden squares, boutique shops, and cozy tapas bars. 
		Take a moment to appreciate the unique architecture and the scent of blooming bougainvillea that fills the air.
        </p>
        <p>Marbella is renowned for its stunning beaches, and you're spoiled for choice. 
		Playa de la Fontanilla is a favorite among locals and tourists alike, offering golden sands and crystal-clear waters. 
		Whether you're looking to bask in the sun, take a leisurely swim, or enjoy water sports, 
		Marbella's beaches provide the perfect backdrop for a day of relaxation and fun.
        </p>
        <p>For those seeking a taste of luxury and glamour, a visit to Puerto Banús is a must. 
		This exclusive marina is lined with upscale boutiques, high-end restaurants, and sleek yachts. 
		Take a leisurely stroll along the waterfront, indulge in some shopping, and savor a gourmet meal with a view of the sparkling Mediterranean.</p>
        <p></p>

        <hr>For a breathtaking panoramic view of Marbella and the surrounding coastline, hike to the summit of La Concha mountain. 
		As the sun sets, the sky transforms into a canvas of warm hues, casting a magical glow over the town and the Mediterranean Sea. 
		It's a moment of serenity and beauty that captures the essence of Marbella.

In conclusion, Marbella is a destination that captivates the senses, offering a perfect blend of relaxation, luxury, and cultural richness. 
Whether you're a sun-seeker, a culture enthusiast, or a partygoer, Marbella has something special to offer. 
So, pack your bags, immerse yourself in the Mediterranean charm, and let Marbella weave its magic on you. ¡Hasta luego! (See you soon!)
  
        <section id="wrapper">
          <h1 class="post-title">Leave a comment</h1>
          <div class="box">
            <div class="row">
              <div class="col-6">
                <div class="comment">
                  <p v-for="items in item" v-text="items"></p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <textarea type="text" class="input" placeholder="Your Comment Here" v-model="newItem"
                  @keyup.enter="addItem()"></textarea>
                <button v-on:click="addItem()" class='btn-box' type="submit">Your Comment</button>
              </div>
            </div>
         </div>
          <hr>
 <h1 class="post-title">Read More</h1>
          <div class="card-group">
            <div class="card">
              <img class="card-img-top" src="images/blog-1.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Sza in Dublin </h5>
                <p class="card-text"> Attending a SZA concert is an experience that transcends the ordinary and immerses you in the vibrant world of soulful music, powerful vocals, and an electric atmosphere. </p>
                <a href="post_one.html" class="btn btn-success">Read More</a>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="images/package-2.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Summer time in Marbella</h5>
                <p class="card-text"> Welcome to Marbella, a jewel nestled on the picturesque Costa del Sol in southern Spain. With its sun-kissed beaches, 
		glamorous nightlife, and rich cultural heritage, Marbella offers a perfect blend of relaxation and excitement for every traveler. 
		Join us as we take a virtual journey through the vibrant streets, sandy shores, and historic landmarks of this Mediterranean paradise.</p>
                <a href="post_two.html" class="btn btn-success">Read More</a>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="images/photo11.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">What a wonderful time in Menorca </h5>
                <p class="card-text">From the moment you set foot on this Balearic gem, it was as if time slowed down to let you savor every moment. 
			The historical charm of Ciutadella must have whisked you away to another era, with its narrow cobbled streets, charming architecture, and bustling markets.</p>
                <a href="post_three.html" class="btn btn-success">Read More</a>
              </div>
            </div>
          </div>
        </section>


      </div>
    </div>
    <!-- end of row -->

  </div>
  <!-- end of container -->

  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.14/vue.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>
  <script>
    $(document).ready(function () {

      $(".btn-box").on('click', function () {
        $(".comment").addClass("afterText");
      });
      $("textarea").on('keyup.enter', function () {
        $(".comment").addClass("afterText");
      });
    });

    new Vue({
      el: "#wrapper",
      data: {
        newItem: '',
        item: [],
      },
      methods: {
        addItem() {
          this.item.push(this.newItem);
          this.newItem = "";
        }
      }

    });
  </script>
  <br><br>
  
  <!-- Footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <!-- About section in the footer -->
          <h6>About</h6>
          <p class="text-justify">Welcome to Roamie, your passport to boundless adventures and unforgettable journeys!
            At Roamie, we believe that travel is not just about reaching a destination; it's about embracing the
            unknown,
            discovering new cultures, and creating stories that last a lifetime.
            Whether you're a seasoned globetrotter or a first-time explorer, Roamie is here to inspire, guide, and
            elevate
            your travel experience.</p>
        </div>
        <div class="col-xs-6 col-md-3">
          <!-- Quick Links section in the footer -->
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About Me</a></li>
            <li><a href="explore.html">Explore</a></li>
	    <li><a href="blog.html">Blog</a></li>
            <li><a href="faq.html">FAQ</a></li>
            <li><a href="contact.html">Contact Me</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <!-- Copyright information in the footer -->
          <p class="copyright-text">Copyright &copy; 2023 All Rights Reserved by
            <a href="#">Roamie</a>.
          </p>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <!-- Social media icons in the footer -->
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <!-- End Footer -->


</body>

</html>
